*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
/*for all big section*/
.all{
    min-width: 1380px;
    max-width: 1400px;
    margin: 0 auto;
    border:3px solid #93285B;
    border-radius: 7px;
    margin-bottom: 5px;
}

/*for header*/
header{
    height: 111px;
    background-color:#192032;
    position: sticky;
    top:0;
}
.headerimg{
    display: inline-block;
    
    
}
ul{
position: absolute;
right:10px;
bottom: 10px;
font-size: 25px;

}
nav,
ul li{
     display: inline-block;   
     
 }
 ul li a{
     margin-left: 10px;
     color: #93285B;
     text-decoration: none;
 }
 ul li a:hover{
color:white;
font-size: 27px;
text-shadow:10px 5px rgb(124, 106, 106);
 }

 main{
    background-color: #192032; 
    /
    
 }
 main img{
     margin: 2.5px;
     
 }
 main img:nth-child(n):hover{
     opacity: 0.3;
     cursor: not-allowed;
 }
 main img:nth-child(1):hover{
    cursor: pointer;
}

footer{
    height: 70px;
    background-color:  #192032;  
    color:#93285B;
    font-size: 50px;
    text-align: center;
    line-height: 70px;
    text-shadow: 5px 2px rgb(238, 161, 161),   /*multiple shadow*/
                    7px 4px rgb(239, 209, 209),
                    9px 6px rgb(234, 231, 231)

}